/* Estilos para diferentes tamanhos de tela */

/* Tamanho de tela até 768px */
@media(max-width:769px) {
    .home-content {
        margin-left: 6rem;
    }

    section {
        padding: 0;
    }

    .home {
        background-size: 250%;
        background-position: center;
    }

    .Servicos-content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        width: 88%;
    }

    .Servicos-box {
        justify-content: center;
    }

    .about .about-column {
        display: initial;
    }

    .about .heading {
        text-align: center;
    }
}


/* Estilos para o menu responsivo em tela pequena */
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
        position: fixed;
        left: 71px;
    }
    .logo img {
        height: 64px;
        margin-top: 16px;
        left: 28px;
        position: fixed;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 200%;
        padding-top: 80px;

    }
    
 

    .navbar a {
        padding: 5px;
        animation: menutxt .1s linear;
    }


    @keyframes menutxt {
        0% {
            padding: 0px;
            height: 10px;
        }
        
        100% {
            padding: 5px;
            height: 20px;
        }
    }




    .menu-icon {
        display: block;
        position: fixed;
        right: 63px;
        top: 35px;
    }

    .responsive {
        display: flex;
        padding-bottom: 100vh;
        animation: menuscroll .3s linear;
        background-color: black;
    }
    @keyframes menuscroll {
        0% {
            padding-bottom: 0vh;
        }
    
        100% {
            padding-bottom: 100vh;
        }
    }
    .about .about-row {
        display: flex;
        flex-wrap: wrap;
        gap: 0rem;
        padding-top: 12rem;
      }
}

/* Tamanho de tela até 411px */
@media(max-width:412px) {
    html {
        font-size: 70%;
    }

    .about-box img {
        width: 100%;
    }

    section {
        min-height: 100vh;
        max-height: 100%;
        overflow-y: auto;
    }

    .contateme form {
        max-width: 33rem;
        margin: 7rem auto;
        text-align: center;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Tamanho de tela até 462px */
@media(max-width:462px) {}

/* Tamanho de tela até 371px */
@media(max-width:371px) {}