/* Estilos para diferentes tamanhos de tela */

/* Tamanho de tela até 768px */
@media(max-width:769px) {
    .home-content {
        margin-left: 6rem;
    }

    section {
        padding: 0;
    }

    .home {
        background-size: 250%;
        background-position: center;
    }

    .Servicos-content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        width: 88%;
    }

    .Servicos-box {
        justify-content: center;
    }

    .about .about-column {
        display: initial;
    }

    .about .heading {
        text-align: center;
    }
}

/* Tamanho de tela até 411px */
@media(max-width:412px) {
    html{
        font-size: 50%;
    }
    .header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-box img {
        width: 100%;
    }

    section {
        min-height: 100vh;
        max-height: 100%;
        overflow-y: auto;
    }

    .contateme form {
        max-width: 33rem;
        margin: 7rem auto;
        text-align: center;
    }

    .navbar {
        display: flow-root;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    .navbar a {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
    }
}

/* Tamanho de tela até 462px */
@media(max-width:462px) {}

/* Tamanho de tela até 371px */
@media(max-width:371px) {}