@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lobster&family=Pacifico&family=Satisfy&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Importar o FontAwesome (ícones) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif, Lobster, cursive;

}

/* Cores personalizadas */
:root {
  --bg-color: #000;
  --second-bg-color: #141C29;
  --text-color: #ffffff;
  --main-color: #00a2ff;
}

/* Configurações do HTML */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Configurações do body */
body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

/* Estilos do menu */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 64px;
  margin-top: 16px;
}

.logo span {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  font-family:'Lobster';
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 2rem;
}

.active {
  font-weight: bold;
}

/* Estilos do menu responsivo */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* Ícone do menu hamburguer */
.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}





/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header img {
  height: 60px;
  width: auto;
} */

.sticky {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px 0px rgb(255, 255, 255);
  height: 80px;
}


/* Estilos do título */
.heading {
  position: relative;
  font-size: 5.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.floating-buttons a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.floating-buttons a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.whatsapp-button {
  background-color: #25d366;
}

.instagram-button {
  background-color: #e4405f;
}

.floating-buttons i {
  pointer-events: none;
}