@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lobster&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Importar o FontAwesome (ícones) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif, Lobster, cursive;

}

/* Cores personalizadas */
:root {
  --bg-color: #000;
  --second-bg-color: #141C29;
  --text-color: #ffffff;
  --main-color: #00a2ff;
}

/* Configurações do HTML */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Configurações do body */
body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

/* Estilos do cabeçalho/menu */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header img {
  height: 60px;
  width: auto;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo span {
  position: relative;
  font-size: 5rem;
  color: var(--text-color);
  font-weight: 400;
  display: inline-flex;
  font-family:'Lobster';
  top: -13px;
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.navbar {
  position: relative;
  align-items: flex-end;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
  font-family:'Roboto';
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  font-weight: 700;
}


/* Estilos do título */
.heading {
  position: relative;
  font-size: 5.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.floating-buttons a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.floating-buttons a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.whatsapp-button {
  background-color: #25d366;
}

.instagram-button {
  background-color: #e4405f;
}

.floating-buttons i {
  pointer-events: none;
}